/*
commented when used with twitter bootstrap

{margin:0;padding:0}
body,html {font:12px "Lucida Grande",Helvetica,Arial,sans-serif;width:100%;height:100%;overflow:hidden}
a{color:#00B7FF}
textarea{resize:none;}
button{padding:4px} 
 
#outgoing{margin-bottom:2px}
#total{font-size:12px;margin-right:10px}
#users{min-width:140px}
 */
body{overlow-x:hidden}
textarea{resize:none;margin:0 0 10px 0}
.chat{display:block;width:97%}
#incoming{min-height:200px}
#incoming,#outgoing {width:100%;margin:0 0 10px 0;font-family:'Lucida Grande',Helvetica,Arial,sans-serif;font-size:12px;}
/* .chat{display:block;width:98%;padding:4px} */
/* .commands{text-align:left;position:absolute;bottom:0;background-color:#000;color:#00ff00;width:100%} */
